source https://nuget.org/api/v2

nuget FSharp.Formatting
nuget FSharpLint
nuget FSharpVSPowerTools.Core
nuget NUnit
nuget NUnit.Runners
nuget FAKE
nuget SourceLink.Fake
nuget OpenTK
nuget MathNet.Numerics.FSharp
nuget FsCheck
nuget FsCheck.NUnit

github fsharp/FAKE modules/Octokit/Octokit.fsx
