type project
owners
    James Tranovich
authors 
    James Tranovich
projectUrl
    http://github.com/cantsin/splashy
iconUrl
    https://raw.githubusercontent.com/cantsin/splashy/master/docs/files/img/logo.png
licenseUrl
    http://github.com/cantsin/splashy/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    A fluid simulator.
description
    A fluid simulator.


